<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="statics/style.css" rel="stylesheet">

    <title>Lista De Açougue</title>

    <style>

        .top-icon-left{
           text-align: left;
        }

        .top-icon-right{
           text-align: right;
        }

        .sp-10{
            padding-bottom:10px;
        }

        .sp-20{
            padding-bottom:20px;
        }

        .bp {
            margin:20px;
            padding:4px;
        }

    </style>


</head>
<body>


<div class="row">

    <div class="col-sm">

    </div>

    <div class="col-sm text-center">




        <div class="card" style="height: 30rem;">
            <div class="card-body">
                <div class="sp-10"> </div>
                <div class="row top-icon-right">

                        <!-- BACK -->
                    <a th:href="@{/alimentos/index}" class="float">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </a>


                    <a th:href="index" class="float">
                        <!-- HOME -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </a>

                </div>
                <h1 class="text-center">Açougue</h1>

                <div class="col align-middle sp-3" style="">
                    <a th:href="add" class="text-danger float">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>

                <div class="container">
                    <table class="table text-center">
                        <thead>
                        <tr>

                            <th scope="col">Nome</th>
                            <th scope="col">Qtd.</th>
                            <!-- <th scope="col">Categoria</th> -->
                            <!-- <th scope="col">Valor Unt.</th> -->
                            <!-- <th scope="col">Forma de Pagamento</th> -->
                            <!-- <th scope="col">Valor Total</th> -->
                            <!--<th scope="col">Parcelas</th> -->
                            <th scope="col">Data</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="acougue: ${acougues}">
                            <!-- <th scope="row" th:text="${compra.id}"></th> -->
                            <td th:text="${acougue.nome}"></td>
                            <td th:text="${acougue.quantidade}"></td>
                            <!-- <td th:text="${compra.categoria}"></td> -->
                            <!-- <td th:text="${compra.valorUnitario}"></td> -->
                            <!-- <td th:text="${compra.formaDePagamento}"></td> -->
                            <!-- <td th:text="${compra.valorTotal}"></td>  -->
                            <!-- <td th:text="${compra.parcelas}"></td> -->
                            <td th:text="${acougue.data}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <div class="col-sm">

    </div>


</div>

<div class="row text-center">


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


</body>
</html>
