<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Adicionar Compras</title>
</head>
<body>

<div class="container" align="center">
    <h1 class="text-center">Adicionar Compra</h1>

    <div class="p-3"></div>
    <form style="width:400px" th:action="@{/compras/add}" th:object="${compra}" method="post">
        <div class="mb-3">
            <label for="comprasId" class="form-label" align="right">ID</label>
            <input type="text" class="form-control" placeholder="ID" id="comprasId" th:field="*{id}">
        </div>
        <div class="mb-3">
            <label for="comprasNome" class="form-label">NOME</label>
            <input type="text" class="form-control" placeholder="Nome do Produto" id="comprasNome" th:field="*{nome}">
        </div>
        <div class="mb-3">
            <label for="quantidadeID" class="form-label">QUANTIDADE</label>
            <input type="text" class="form-control" id="quantidadeID" th:field="*{quantidade}">
        </div>
        <div class="mb-3">
            <label for="categoriaID" class="form-label">CATEGORIA</label>
            <input type="text" class="form-control" placeholder="Categoria do Produto" id="categoriaID" th:field="*{categoria}">
        </div>
        <div class="mb-3">
            <label for="valorUnitarioID" class="form-label">VALOR UNT.</label>
            <input type="text" class="form-control" placeholder="Valor de cada Produto" id="valorUnitarioID" th:field="*{valorUnitario}">
        </div>
        <div class="mb-3">
            <label for="formaDePagamentoID" class="form-label">FORMA DE PAGAMENTO</label>
            <input type="text" class="form-control" placeholder="Dinheiro, Boleto, PicPay, PIX, Cartão de Crédito" id="formaDePagamentoID" th:field="*{formaDePagamento}">
        </div>
        <div class="mb-3">
            <label for="parcelasID" class="form-label">PARCELAS</label>
            <input type="text" class="form-control" placeholder="ex: 1x, 2x, 3x" id="parcelasID" th:field="*{parcelas}">
        </div>
        <!--
        <div class="mb-3">
            <label for="valorTotalID" class="form-label">VALOR TOTAL</label>
            <input type="text" class="form-control" id="valorTotalID" th:field="*{valorTotal}">
        </div>
        -->
        <div class="mb-3">
            <label for="dateID" class="form-label">DATA</label>
            <input type="date" class="form-control" id="dateID" th:field="*{data}">
        </div>


        <div class="row p-3">
            <div class="col-sm">
                <a href="/compras/" class="btn text-light bg-danger" style="width:100%">Cancelar</a>

            </div>
            <div class="col-sm">
                <input  type="submit" class="btn text-light bg-dark" style="width:100%" value="Adicionar"/>
            </div>

        </div>
    </form>
</div>




















<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</body>
</html>