<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>

    <!-- Título da página -->
    <title>Lista De Alimentos</title>




</head>
<body>


<div class="row">
    <!-- 1° coluna -->
    <div class="col-sm">

    </div>

    <div class="col-sm text-center">
        <div class="card" style="height: 30rem;">
            <div class="card-body">
                <div class="sp-10"></div>
                <div class="row top-icon-right">


                    <!---------------------->
                    <!------BOTÃO ADD------->
                    <!--------- \/---------->

                    <div>
                        <div class="text-end">
                            <a th:href="add" class="text-success float" data-bs-toggle="modal" data-bs-target="#addModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-plus-square add-button fw-bold" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <!-- 2° coluna -->
                    <div class="col">
                        <h2 class="text-center">Lista de Alimentos</h2>


                    </div>
                        <hr class="bord">

                </div>

                <!-- ADD PAGE -->
                <div class="col sp-3" style="">
                    <div class="container align-center">
                        <table class="table table-hover text-center">

                            <thead>
                            <tr>
                                <td scope="col"></td>
                                <td scope="col">Nome</td>
                                <td scope="col">Qtd.</td>
                                <td style="visibility: hidden;" scope="col">Data</td>


                                </td>
                            </tr>
                            </thead>

                            <tbody>

                            <tr th:each="alimento : ${index}">
                                <td>
                                    <input name="checks" class="checkmark" type="checkbox">
                                </td>

                                <td>
                                    <a th:text="${alimento.nome}" th:href="@{/getOne/(id=${alimento.id})}" class="btn text-primary float" data-bs-toggle="modal" data-bs-target="#editModal">
                                    </a>
                                </td>
                                <td th:text="${alimento.quantidade}"></td>

                                <td>
                                    <p th:if="${alimento.comprado == 'sim'}" class="sp-20" th:text="${alimento.dataArquivada}">

                                    </p>



                                </td>
<!--                                <h1 th:if="${alimento.nome == ''}">Certo</h1>-->
<!--                                style="visibility: hidden;"-->
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <!------------ ADD MODAL ------------>
                    <!----------------\/----------------->
                    <!----------------\/----------------->

                    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <form th:action="@{/addNew}" method="post">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Adicionar alimento</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Nome:</label>
                                            <input type="text" class="form-control" id="recipient-name" name="nome">
                                        </div>

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Categoria:</label>
                                            <select class="form-select" aria-label="Default select example" id="recipient-name"
                                                    name="categoria">
                                                <option selected class="text-center">Selecione a categoria</option>
                                                <option value="Acougue">Acougue</option>
                                                <option value="Bebidas">Bebidas</option>
                                                <option value="Congelados">Congelados</option>
                                                <option value="Doces">Doces</option>
                                                <option value="Eletro">Eletro</option>
                                                <option value="Higiene">Higiene</option>
                                                <option value="Horifruti">Hortifruti</option>
                                                <option value="Limpeza">Limpeza</option>
                                                <option value="Mercenaria">Mercearia</option>

                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Quantidade:</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                   name="quantidade">
                                        </div>

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Valor:</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                   name="valorUnitario">
                                        </div>

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Data:</label>
                                            <input type="text" placeholder="ex: 05-06-21"
                                                   class="form-control text-center" id="recipient-name" name="dataArquivada">
                                        </div>

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Comprado</label>
                                            <input type="text" placeholder="sim ou não"
                                                   class="form-control text-center" id="recipient-name" name="comprado">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="container">
                                            <button type="button" class="btn btn-secondary text-light text-start"
                                                    data-bs-dismiss="modal">Fechar
                                            </button>
                                            <button type="submit" class="btn btn-primary text-end">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!------------ &EDIT MODAL ------------->
                    <!-----------------\/------------------->
                    <!-----------------\/------------------->

                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                         aria-hidden="true">
                        <form th:action="@{/update}" method="put">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Editar alimento</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Id</label>
                                            <h4 type="text" class="form-control" id="idEdit" name="idEdit"></h4>
                                        </div>

                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Nome</label>
                                            <input type="text" class="form-control" id="nomeEdit" name="nomeEdit">
                                        </div>

                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Categoria</label>
                                            <select class="form-select" aria-label="Default select example" id="categoriaEdit"
                                                    name="categoriaEdit">
                                                <option selected class="text-center">Selecione a categoria</option>
                                                <option value="Acougue">Acougue</option>
                                                <option value="Bebidas">Bebidas</option>
                                                <option value="Congelados">Congelados</option>
                                                <option value="Doces">Doces</option>
                                                <option value="Eletro">Eletro</option>
                                                <option value="Higiene">Higiene</option>
                                                <option value="Horifruti">Hortifruti</option>
                                                <option value="Limpeza">Limpeza</option>
                                                <option value="Mercenaria">Mercearia</option>
                                            </select>

                                        </div>

                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Quantidade</label>
                                            <input type="text" class="form-control" id="quantidadeEdit"
                                                   name="quantidadeEdit">
                                        </div>

                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Valor</label>
                                            <input type="text" class="form-control" id="valorUnitarioEdit"
                                                   name="valorUnitarioEdit">
                                        </div>

                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Data</label>
                                            <input type="text" class="form-control" id="dataEdit" name="dataEdit">
                                        </div>

                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">Comprado</label>
                                            <input type="text" placeholder="sim ou não"
                                                   class="form-control text-center" id="compradoEdit" name="compradoEdit">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="container">
                                            <div class="d-grid gap-2 d-md-block">

                                                <button type="button" onclick="updateAlimento()" data-bs-dismiss="modal"
                                                        class="btn btn-primary text-end">Salvar
                                                </button>
                                                <!--                                            <button type="button" data-bs-dismiss="modal" class="btn-danger text-end" onclick="deleteAlimento()"> Deletar </button>-->
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                        data-bs-dismiss="modal" class="btn btn-danger text-end"> Deletar
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!------------ X-DELETE MODAL ------------->
                    <!-------------------\/-------------------->
                    <!-------------------\/-------------------->

                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4 for="recipient-name" class="sp-10">Tem certeza que deseja deletar este item
                                        ?</h4>

                                    <div class="sp-10">
                                        <button type="button" data-bs-dismiss="modal"
                                                class="btn btn-primary text-end float" aria-label="Close"> Não
                                        </button>

                                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger text-end float"
                                                onclick="deleteAlimento()"> Sim
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="text-center d-grid gap-2 d-md-block">
                        <button type="button" class="btn btn-primary" onclick="exibir()">Salvar</button>
<!--                        <button type="button" onclick="updateAlimentoComprado()" data-bs-dismiss="modal"-->
<!--                                class="btn btn-primary text-end">Salvar Alimento-->
<!--                        </button>-->
                    </div>
                </div>

                <!-- TOTAL -->
                <!----------->
                <!--                <td colspan="2"><h3> Total </h3></td>-->
                <!--                <br>-->
                <!--                <td th:text="${#numbers.formatCurrency(#aggregates.sum(alimentos.![valorUnitario]))}">R$ 0,00</td>-->

            </div>
        </div>
    </div>

    <!-- 3° coluna -->
    <div class="col-sm">

    </div>


</div>


<div class="row text-center">

</div>





</body>
</html>
